* {
    cursor: pointer;
}
.wrapper-ad {
    max-width: 320px;
    max-height: 600px;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.verified {
    width: 16px;
    height: 16px;
    background-position: 0 -629px;
    background-image: url(../images/fb-sprite-4.png);
    display: inline-block;
    background-size: 25px 959px;
    background-repeat: no-repeat;
    vertical-align: bottom;
}

.hashtag, .link {
    color:#546fa6;
}

.xcs__ad {
    margin: 1px;
    border: 1px solid #00000033;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    background-color: white;
    /* box-shadow: 0 1px 2px #00000033; */
}

.sponsored {
    font-weight: 400;
    font-size: .65rem;
    color: gray;
    line-height: 20px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.sponsored__text {
    display: inline-block;
    margin-right: 4px;
}

.world {
    background-size: 25px 601px;
    background-image: url(../images/fb-sprite-5.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 12px;
    width: 12px;
    vertical-align: text-top;
    background-position: 0 -484px;
    -webkit-filter: invert(0);
    filter: invert(0);
}

.head {
    padding: 8px 10px 0;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    left: 0;
    right: 0;
}

.fb-logo {
    width: 29px;
    height: 29px;
    background: url(../images/fb_logo.png) no-repeat;
    background-size: contain;
}

.head .profile__data {
    color: black;
    font-size: 14px;
    font-weight: 600;
}

.head .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.profile__picture img {
    border-radius: 50%;
    width: 38px;
    height: 38px;
    margin-right: 10px;
    border: 2px solid #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}

.caption__image {
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.caption__image-bg {
    background-position: top center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: none;
    background-image: url(../images/caption_image.jpg);
}

.caption__image img {
    display: none;
    z-index: 2;
}

.caption {
    padding: 10px;
    font-size: 13px;
}

.caption .text {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: black;
    line-height: 1.3;
}

.cta {
    background-color: #1a77f2;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
}

.reactions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    padding: 10px 0;
    /* border-top: 1px solid #dadde1; */
    margin: 0px 10px;
}

.reactions span {
    color: #606770;
    font-weight: 600;
}

.icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 3px;
    vertical-align: middle;
}

.icon-like {
    background: url(../images/fb-sprite-2.png) 73px 37px;
}

.icon-comment {
    background: url(../images/fb-sprite-3.png) 0 -156px;
}

.icon-share {
    background: url(../images/fb-sprite-3.png) -19px -175px;
}

.slick-slide {
    outline: 0;
}

.wrapper-carousel {
    position: relative;
    z-index: 5;
}

.wrapper-carousel .item__carousel {
    margin: 0 3px;
    outline: 0;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

.hotspot__item {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.wrapper-carousel .item__carousel img {
    max-width: 100%;
}

.wrapper-carousel .item__carousel button {
    background-color: #e4e6eb;
    border: 0;
    border-radius: 6px;
    height: 30px;
    width: 90px;
    font-size: .70rem;
    font-weight: 600;
}

.wrapper-carousel .description {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper-carousel .sub-title {
    font-size: 0.70rem;
    font-weight: 600;
    padding-right: 10px;
    flex: 1;
}

.arrow {
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    z-index: 4;
    margin: auto;
    top: 0;
    bottom: 0;
    box-shadow: 0 0 0 1px #0000001a;
    text-align: center;
    line-height: 40px;
}

.arrow-left {
    left: 5px;
}

.arrow-right {
    right: 5px;
}

.arrow i {
    opacity: 0.4;
    width: 18px;
    height: 20px;
    display: inline-block;
    background-image: url(../images/fb-sprite-6.png);
    background-repeat: no-repeat;
}

.arrow .prev {
    background-size: 20px 1182px;
    background-position: 0 -322px;
}

.arrow .next {
    background-size: 20px 1182px;
    background-position: 0 -364px;
}

.hotspot {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 2;
}

/* Media Queries */
@media  screen and (width:300px) and (height:250px){
    .wrapper-video {
        height: 160px;
    }
    .caption__image {
        padding-top: calc(1 * 54%);
    }
    .caption__image img {
        display: block;
        width: auto;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    .caption__image-bg {
        display: block;
        padding-top: calc(1 * 54%);
        -webkit-filter: blur(10px);
        filter: blur(10px);
    }

    .fb-post .caption {
        display: block;
    }

    .fb-post .caption .text {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .fb-post .reactions {
        display: none;
    }
}
@media  screen and (width:320px) and (height:480px){
    .caption__image-bg {
        display: block;
    }
    .caption__image {
        padding-top: calc(1 * 65%);
    }
    .wrapper-video {
        height: 200px;
    }
}
@media  screen and (width:300px) and (height:600px){
    .caption__image-bg {
        display: block;
    }
    .wrapper-video {
        height: 300px;
    }
}